@charset "utf-8";
/* CSS Document */

body
{
	width: 1905px;
	background-image: url("../images/black pattern.png");
	font-family: "SFU Futura";
	
}

.menu
{
	width: 1905px;
	height: 53px;
	background-image: url("../images/white pattern.png");
}

.bang1
{
	width: 1905px;
	height: 1000px;
}

.hinh1
{
	width: 600px;
	height: 200px;
	margin-top: 100px;
}

.hinh1 img
{
	width: 1400px;
	height: 800px;
}

.bang2
{
	width: 1905px;
	height: 1000px;
	background-image: url("../images/white pattern.png");
}

.hinh2
{
	width: 450px;
	height: 150px;
	padding-top: 120px;
}

.hinh2 img
{
	width: 150px;
	height: 150px;
}

.hinh2 h3
{
	width: 200px;
	float: right;
	font-size: 50px;
	margin: 40px 50px;
}

.hinh2 p
{
	width: 100%;
	height: 100px;
	font-size: 28px;
}

.hinh2 button
{
	width: 300px;
	height: 100px;
	font-size: 40px;
	float: left;
	background-color: #5497D1;
	color: #fff;
	margin-top: 250px;
	margin-left: 80px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.16);
}


.hinh2 button:hover
{
	background-color: #4B8FCB;
	color: #fff;
}

.bang3
{
	width: 1905px;
	height: 940px;
	background-image: url("../images/black pattern.png");
	font-family: "SFU Futura";
    font-size: 14px;
    color: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
}

.swiper-container 
{
      width: 1905px;
      padding-top: 50px;
      padding-bottom: 300px;
}

.swiper-slide 
{
      background-position: center;
      background-size: cover;
      width: 600px;
      height: 100%;
	  background: #000;
	-webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
 }




.khoang1
{
	height: 400px;
	background-image:url("../images/white pattern.png");
}

.khoang1 h1
{
	font-family: "SFU Futura";
	font-size: 90px;
	padding-top: 90px;
	padding-left: 400px;
}

.chat
{
	width: 300px;
	height: 300px;
	background-color: #4B98A2;
	margin: 1%;
	float: right;
	margin-top: -250px;
}


.chat p
{
	font-family: "SFU Futura";
	font-size: 25px;
	margin-top: 60px;
	margin-left: 10px;
	color: #fff;
}

.chat h2
{
	font-family: "SFU Futura";
	font-size: 30px;
	color: #fff;
	margin-top: 70px;
	margin-left: 80px;
}

.khoang2
{
	height: 300px;
	width: 1905px;
	background-image: url("../images/white pattern.png");
}







.bang4
{
	height: 500px;
	background-image: url("../images/black pattern.png");
}
.pic2
{
	width: 300px;
	height: 200px;
}
.pic2 p
{
	color: #fff;
	margin-top: 30px;
	padding-left: 70px;
	width: 100%;
	font-family: "SFU Futura";
	font-size: 18px;
}

.pic2 img
{
	margin-top: 150px;
	margin-left: 200px;
}

.text
{
	width: 900px;
	height: 100px;
	margin-left: 900px;
	margin-top: -50px;
}

.social
{
	width: 50px;
	height: 50px;
	margin-top: 100px;
	margin-left: 250px;
	float: left;
}
.social img
{
	margin: 10%;
	float: left;
}

.social img:hover
{
	opacity: 0.125;
}

ul1
{
	list-style: none;
	color: #fff;
}

ul1 li1
{
	float: left;
	padding: 10px 30px 10px 30px;
	font-family: "SFU Futura";
	font-size: 30px;
	
}